
@{
    ViewBag.Title = "Index";
}

<h2>Lab Tech Portal</h2>

<br/>

<div class="card-deck">

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>


</div>

<br />

<div class="card-deck">

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title"></h3>

            <p><a class="btn btn-primary btn-block" href="@Url.Action("ourServices", "CustomerPortal")">Option</a></p>

        </div>
    </div>
</div>
